@model List<OhSnapDAL.Models.Photo>

@{
    ViewBag.Title = "ShowSnaps";

    if (Model != null && Model.Count > 0)
    {
        var userID = Model.FirstOrDefault().UserID;

        var user = OhSnapDAL.Managers.UserManager.GetUserFromDB(userID);

        var imgSrcList = new List<string>();

        <div class="text-center">
            <h2>@user.UserLogin Snaps!</h2>
        </div>
        <div class="row">
            @foreach (var item in Model)
            {
                var imgSrc = String.Format("data:{0};base64,{1}", item.FileType, Convert.ToBase64String(item.ByteArray));

                <div class="img-field col-sm-4">
                    <a href="#" onclick="location.href='@Url.Action("ViewSnap", "Home", new { photoID = item.PhotoID }, null)'">
                        <img class="img" src="@imgSrc" />
                    </a>
                </div>
            }
        </div>
    }
    else
    {
        <div class="text-center">
            <h2>User don't have any snaps.</h2>
        </div>
    }
}
